USE [master]
GO
/****** Object:  Database [DragCanvas]    Script Date: 10/01/2026 12:53:54 ******/
CREATE DATABASE [DragCanvas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DragCanvasUsers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DragCanvasUsers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DragCanvasUsers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DragCanvasUsers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DragCanvas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DragCanvas]
GO
/****** Object:  Table [dbo].[TBUsers]    Script Date: 10/01/2026 12:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUsers](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserEmail] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
